= form_with local: true do |form|
  = form.label :old, "Senha antiga"
  %br/
  = form.password_field :old
  %br/
  %br/
  = form.label :new, "Nova senha"
  %br/
  = form.password_field :new
  %br/
  %br/
  = form.label :confirmation, "Confirmação de senha"
  %br/
  = form.password_field :confirmation
  %br/
  = form.submit "Confirmar"


- if @wrong_old
  %h3 A senha antiga não confere

- if @wrong_match
  %h3 Os campos de nova senha não conferem