%h1 Painel administrativo

= link_to 'Solicitações de aula', '/admin/requests'
%a{ "data-method" => "DELETE", href: '/admin' } Logout

%h2 Professores

%table
  %tr
    %th
      %h3 Nome
    %th
      %h3 Jogo
    %th
      %h3 Email
    %th
      %h3 Whatsapp
  - @coaches.each do |coach|
    %tr
      %td
        = coach.name
      %td
        = coach.game
      %td
        = coach.email
      %td
        = coach.whatsapp
      %td
        %a{ "data-method" => "DELETE", href: "/admin/coaches/#{coach.id}" } Excluir
  %tr
    %td
      %h3
        = link_to 'Cadastrar novo', '/admin/new_coach'