%h1 Painel administrativo

= link_to 'Professores', '/admin/coaches'

%br/

%a{ "data-method" => "DELETE", href: '/admin' } Sair

%h2 Solicitações de aula

%table
  %tr
    %th
      %h3 Pedido
    %th
      %h3 Cliente
    %th
      %h3 CPF
    %th
      %h3 Email
    %th
      %h3 Whatsapp
    %th
      %h3 Jogo
    %th
      %h3 Descrição
    %th
      %h3 Tier
    %th
      %h3 Data do pedido
    %th
      %h3 Professor
  - @requests.each do |request|
    = form_with url: "/admin/requests/#{request.id}", local:true do |form|
      %tr
        %td
          = "#" + request.id.to_s
        %td
          = request.name
        %td
          = request.cpf
        %td
          = request.email
        %td
          = request.whatsapp
        %td
          = request.game
        %td
          = request.description
        %td
          = request.tier
        %td
          = request.created_at
        %td
          = form.collection_select :coach_id, @coaches_from[request.game], :id, :name
        %td
          = form.submit "Confirmar"
          %a{ "data-method" => "DELETE", href: "/admin/requests/#{request.id}" } Excluir